# 拷贝这个文件到/etc/systemd/system下后
# systemctl daemon-reload
# systemctl enable warm-sched.service
[Unit]
Description=warm the RAM by history
Before=systemd-user-session.service display-manager.service
    
[Service]
## -plymouth会发送当前加载进度， -out 指定加载的sanpshot文件.
## all_sorted_warm文件需要使用以下命令生产
# warm-sched -take -out all_sorted_warm /usr/ /bin/ /sbin/ /home/ /lib32/ /lib/ /opt /usr/ /var/log/journal
ExecStart=/home/snyh/warm-sched -plymouth -load -out /home/snyh/all_sorted_warm
Type=oneshot
    
[Install]
WantedBy=sysinit.target
