[Unit]
Description=Load the PageCache for basic
After=local-fs.target
Before=display-manager.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/warm-sched -cacheDir=/var/cache/warm-sched -apply-basic

[Install]
WantedBy=default.target