[Unit]
Description=Take basic PageCache and increase boot times 
After=systemd-user-sessions.service display-manager.service
Before=warm-sched-load-full.service    

[Service]
ExecStart=/bin/warm-sched -cacheDir=/var/cache/warm-sched -take-basic

[Install]
WantedBy=default.target