[Unit]
Description=Take PageCache snapshot for Full
Before=umount.target

[Service]
ExecStart=/bin/warm-sched -take -out /var/cache/warm-sched/snap-full

[Install]
WantedBy=shutdown.target