[Unit]
Description=Take PageCache snapshot for Basic
After=systemd-user-sessions.service display-manager.service
Before=warm-sched-load-full.service    
ConditionPathExists=!/var/cache/warm-sched/snap-basic

[Service]
ExecStart=/bin/warm-sched -cacheDir=/var/cache/warm-sched -take snap-basic

[Install]
WantedBy=default.target