[Unit]
Description=Load the PageCache for basic
After=local-fs.target
Before=display-manager.service
DefaultDependencies=no
ConditionPathExists=/var/cache/warm-sched/snap-basic

[Service]
Type=oneshot
ExecStart=/bin/warm-sched -load /var/cache/warm-sched/snap-basic

[Install]
WantedBy=default.target