Source: warm-sched
Priority: extra
Maintainer: Deepin Sysdev <sysdev@deepin.com>
Build-Depends: debhelper (>= 9), dkms, golang-go | gccgo-5, golang-golang-x-sys-dev
Standards-Version: 0.1
Homepage: http://github.com/snyh/warm-sched

Package: warm-sched
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mincores-dkms, policykit-1
Description: warm-sched

Package: mincores-dkms
Depends: linux-headers | linux-headers-generic | linux-headers-amd64 | linux-headers-deepin-amd64
Architecture: any
Description: mincores kernel module