Source: warm-sched
Section: misc
Priority: extra
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: debhelper (>= 10), dkms, golang-go
Standards-Version: 3.9.8
Homepage: http://github.com/snyh/warm-sched

Package: warm-sched
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mincores-dkms
Description: speed up login DE enviornment
  using warm-sched's mincores kernel module and fadvise to preload precisely file cache

Package: mincores-dkms
Depends: linux-headers | linux-headers-generic | linux-headers-amd64 | linux-headers-deepin-amd64, libelf-dev
Architecture: any
Description: mincores kernel module
 mincores kernel module package.
