#!/usr/bin/make -f

export GOPATH:=/usr/share/gocode
DESTDIR=debian/tmp
VERSION:=0.2.0

%:
	dh $@ --with dkms --with systemd

override_dh_auto_install:
	mkdir -p $(DESTDIR)/usr/src/mincores-$(VERSION)
	mkdir -p $(DESTDIR)/usr/lib/modules-load.d/
	mkdir -p $(DESTDIR)/var/lib/warm-sched/etc
	mkdir -p $(DESTDIR)/var/lib/warm-sched/cache

	cp -ar kernel/* $(DESTDIR)/usr/src/mincores-$(VERSION)/
	echo mincores > $(DESTDIR)/usr/lib/modules-load.d/minores.conf

	cp -rf etc/* $(DESTDIR)/var/lib/warm-sched/etc/

	dh_auto_install
