[Desktop Entry]
Type=Application
Name=trigger-warm-sched-take-full
Exec=sh -c "sleep 20 && /bin/warm-sched-take-full"
TryExec=/bin/warm-sched-take-full
NoDisplay=true

